// Poppins google font local download
@font-face {
    font-family: "Poppins", sans-serif;
    src: url('../fonts/Poppins/Poppins-Black.ttf') format('TrueType'),
         url('../fonts/Poppins/Poppins-BlackItalic.ttf') format('TrueType'),
         url('../fonts/Poppins/Poppins-Bold.ttf') format('TrueType'),
         url('../fonts/Poppins/Poppins-BoldItalic.ttf') format('TrueType'),
         url('../fonts/Poppins/Poppins-ExtraBold.ttf') format('TrueType'),
         url('../fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('TrueType'),
         url('../fonts/Poppins/Poppins-ExtraLight.ttf') format('TrueType'),
         url('../fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('TrueType'),
         url('../fonts/Poppins/Poppins-Italic.ttf') format('TrueType'),
         url('../fonts/Poppins/Poppins-Light.ttf') format('TrueType'),
         url('../fonts/Poppins/Poppins-LightItalic.ttf') format('TrueType'),
         url('../fonts/Poppins/Poppins-Medium.ttf') format('TrueType'),
         url('../fonts/Poppins/Poppins-MediumItalic.ttf') format('TrueType'),
         url('../fonts/Poppins/Poppins-Regular.ttf') format('TrueType'),
         url('../fonts/Poppins/Poppins-SemiBold.ttf') format('TrueType'),
         url('../fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('TrueType'),
         url('../fonts/Poppins/Poppins-Thin.ttf') format('TrueType'),
         url('../fonts/Poppins/Poppins-ThinItalic.ttf') format('TrueType'),
}

* {
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin: 1.5rem 0;
    font-weight: bold;
}

.app__title {
    text-align: center;
    width: 100%;
}
.app__main-wrapper {
    display: flex;
}

.menu {
    width: 20%;
}

.page-view {
    width: 80%;
    overflow-y: auto;
    overflow-x: hidden
}

.settings{
    &-list {
        list-style: none;
        padding: 0;
        &__item{
            display: flex;
            gap: 1rem;
        }
        &__category {
            font-weight: bold;
            margin: 0.25rem 0;
        }
        &__input {
            border: 0;
            border-bottom: 1px solid black;
        }
    }
}